<!-- About Section -->
<style>
h4.about {
    text-transform: none;
}

h5.about {
    text-transform: none;
}
</style>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Biography</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/CMU.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="about">Aug 2018 - </h4>
                                    <h4 class="subheading">Carnegie Melllon University</h4>
                                </div>
                                <div class="timeline-body">
                                    <h5 class="about">M.S. in Language Technologies</h5>
                                    <p class="text-muted">Advisor: Prof. </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hodooai.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="about">Apr 2018 - Jul 2018</h4>
                                    <h4 class="subheading">HodooAI</h4>
                                </div>
                                <div class="timeline-body">
                                    <h5 class="about">Research Engineer</h5>
                                    <p class="text-muted">Developed xxx </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/snu.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="about">Mar 2011 - Feb 2018</h4>
                                    <h4 class="subheading">Seoul National University</h4>
                                </div>
                                <div class="timeline-body">
                                    <h5 class="about">B.S. in ECE &amp; Mathematics</h5>
                                    <p class="text-muted">&#x1F393; Summa Cum Laude (4.07/4.30)<br />&#x1f3c5; Best Undergraduate Engineering Student Award</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/snu.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="about">Jan 2017 - Dec 2017</h4>
                                    <h4 class="subheading">Music and Audio Research Group</h4>
                                </div>
                                <div class="timeline-body">
                                    <h5 class="about">Research Intern</h5>
                                    <p class="text-muted">Researched on the topics in deep learning and its applications to music and audio</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/snu.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="about">Jan 2013 - Dec 2013</h4>
                                    <h4 class="subheading">Cryptography and Coding Lab</h4>
                                </div>
                                <div class="timeline-body">
                                    <h5 class="about">Research Intern</h5>
                                    <p class="text-muted">Studied on the topics in information theory and wireless communication</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/sjsh.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="about">Mar 2008 - Feb 2011</h4>
                                    <h4 class="subheading">Sejong Science High School</h4>
                                </div>
                                <div class="timeline-body">
                                    <h5 class="about">Mathematics class</h5>
                                    <p class="text-muted">Specially established school for talented students in science</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <br>My Story
                                    <br> </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
