<section class="thirteen columns">
    <h1>Collaborations</h1>
    <em>fMIR connectivity methods development and validation:</em>
    <ul class="circle">
    	<li>Thomas Nichols (supervisor), Soroosh Afyouni, University of Oxford, UK</li>
    	<li>Ruth Harbord, University of Warwick, UK</li>
    	<li>Valerio Zerbi, ETH Zurich, Switzerland</li>
    	<li>Lloyd Elliott, Department of Statistics, University of Oxford, UK</li>
	    <li>Kay Jann, University of Southern California, Los Angeles, United States</li>
    </ul>
	
    <em>Psychiatric Neuroimaging:</em>
    <ul class="circle">
    	<li>Andrea Federspiel, Leila Soravia, Matthias Grieder<br>Translational Research Center, University of Bern, Switzerland</li>
    	<li>Masahito Nakataki, Department of Psychiatry, University of Tokushima, Japan</li>
    </ul>
    	
    <em>Suicide therapy and clinical trial analysis:</em>
    <ul class="circle">
    	<li>Anja Gysin-Maillart, University Hospital of Psychiatry, Bern, Switzerland</li>
    </ul>
</section>
