<section class="thirteen columns">
    <h1>Education</h1>

    <article>
        <header>
            <h2>Ph.D. in Health Sciences (Neurosciences)</h2>
            <span>University of Bern, Switzerland &mdash; 4/12/2013</span>
        </header>
        <p>
            <!--
            <a href="https://drive.google.com/open?id=0B_Iex2d05ajAUmR3RDJBTkRsNEE">
                Thesis: Measurement and analysis of eye-head coordination in patients with schizophrenia.
                <img src="static/img/adobe.png" alt="download" width="16">
            </a>
            -->
        </p>
    </article>
    
    <article>
        <header>
            <h2>M.Sc. (Psychology, Computer Science)</h2>
            <span>University of Bern, Switzerland &mdash; 9/10/2008</span>
        </header>
        <p>
            <!--
            <a href="https://drive.google.com/open?id=0B_Iex2d05ajATW5GMlh2RUgxYzA">
                Thesis: Visual memory: Processing of spatial frequencies and visual representation.
                <img src="static/img/adobe.png" alt="download" width="16">
            </a>
            -->
        </p>
    </article>

</section>
