<section class="thirteen columns">
    <h1>Education</h1>

    <article>
        <header>
            <h2>M.Sc. in Language Technologies (Computer Science)</h2>
            <span>Carnegie Mellon University, United States &mdash; Present</span>
        </header>
        <p>
            <!--
            <a href="https://drive.google.com/open?id=0B_Iex2d05ajAUmR3RDJBTkRsNEE">
                Thesis: Measurement and analysis of eye-head coordination in patients with schizophrenia.
                <img src="static/img/adobe.png" alt="download" width="16">
            </a>
            -->
        </p>
    </article>

    <article>
        <header>
            <h2>B.Sc. Electrical Engineering, Mathematics</h2>
            <span>Seoul National University, Republic of Korea &mdash; Feb 2018</span>
        </header>
        <p>
            <!--
            <a href="https://drive.google.com/open?id=0B_Iex2d05ajATW5GMlh2RUgxYzA">
                Thesis: Visual memory: Processing of spatial frequencies and visual representation.
                <img src="static/img/adobe.png" alt="download" width="16">
            </a>
            -->
        </p>
    </article>

</section>
