<section class="thirteen columns">
    <h1>Positions</h1>

    <article>
        <header>
            <h2>SNSF Visiting Fellow</h2>
            <span>University of Oxford, UK &mdash; 06/2017 to Present</span>
        </header>
        <p>Neuroimaging Statistics (Prof. Thomas Nichols),<br>
           Big Data Institute (BDI), Li Ka Shing Centre for Health Information and Discovery<br>
           Discovery, Nuffield Department of Population Health           
        </p>
    </article>
    
    <article>
        <header>
            <h2>SNSF Visiting Fellow</h2>
            <span>University of Warwick, UK &mdash; 01/2016 to 05/2017</span>
        </header>
        <p>Neuroimaging Statistics (Prof. Thomas Nichols),<br>
           Department of Statistics, and Institute of Digital Healthcare (IDH)
        </p>
    </article>
    
    <article>
        <header>
            <h2>Postdoctoral Researcher</h2>
            <span>University Hospital of Psychiatry, Bern, Switzerland &mdash; 12/2013 to 12/2015</span>
        </header>
        <p>Psychiatric Neuroimaging Unit (Prof. Andrea Federspiel),<br>
           Translational Research Center
        </p>
    </article>
    
</section>
