<section class="thirteen columns">
    <h1>Experiences</h1>

    <article>
        <header>
            <h2>Research Assistant</h2>
            <span>Carnegie Mellon University, United States &mdash; 09/2018 to Present</span>
        </header>
    </article>

    <article>
        <header>
            <h2>Research Engineer</h2>
            <span>HodooAI, Republic of Korea &mdash; 04/2018 to 07/2018</span>
        </header>
    </article>

    <article>
        <header>
            <h2>Sergeant</h2>
            <span>Ministry of National Defense of Republic of Korea, Republic of Korea &mdash; 10/2014 to 07/2016</span>
        </header>
    </article>

</section>
