<!-- Navigation -->
    <style>
    .clearfix {
        overflow: auto;
    }

    .img2 {
        float: left;
        margin-right: 50px;
        border-radius: 300px;
    }
    </style>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand page-scroll" href="#page-top">Home</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!--
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    -->
                    <li>
                        <a class="page-scroll" href="#page-top">About</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#portfolio">Publications</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Biography</a>
                    </li>
                <!--
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                -->
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="clearfix">
                <div class="intro-text">
                    <img class="img2" src="../img/face.jpg" height=248px>
                    <div class="intro-lead-in">Sangkeun Choe</div>
                    <div class="intro-heading">I am a senior student at Seoul National University majoring in 1) Electrical and Computer Engineering, and 2) Mathematics. I am currently interning at Music and Audio Research Group (MARG). My research interests are in the fields of machine learning, computational mathematics and their applications. My ultimate goal is to understand abstract data, such as languages, art, and music, by leveraging data-driven approaches.<br><br>
                    &nbsp;&ensp;&ensp;
                    <a href="https://www.linkedin.com/in/sangkeun-choe-09134b139/"><i class="fa fa-linkedin-square" style="font-size:32px;color:rgb(225,225,225)"></i></a>
                    &ensp;&ensp;
                    <a href="https://github.com/sangkeun00/"><i class="fa fa-github-square" style="font-size:32px;color:rgb(225,225,225)"></i></a>
                    &ensp;&ensp;
                    <a href="mailto:sangkeun00@gmail.com?Subject=Hello%20again" target="_top">
                        <i class="fa fa-envelope" style="font-size:32px;color:rgb(225,225,225)"></i>
                    </a>
                    &emsp;&emsp;&emsp;&emsp;&nbsp;<a href="../assets/CV_SangKeunChoe.pdf" download><b><font color="#87CEFA">Curriculum Vitae</font></b></a>
                    </div>


                    <!--<a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>-->
                </div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

