<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
      <p>I am a second-year M.Sc student in Language Technologies Institute of School of Computer Scinece at Carnegie Mellon University, and fortunate to be advised by Jaime Carbonell. Previously, I completed my B.Sc in Electrical Engineering and Mathematics at Seoul National University.<br>

      My research interests are broadly in machine learning and statistics, including neural networks, information theory, robust statistics, and statistical physics.</p>
    </article>
</section>
