<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
      <p>
        I am a first-year PhD student in computer science at Carnegie Mellon University.
        Previously, I completed my MS in computer science at CMU under the guidance of Prof. Jaime Carbonell.
        Prior to CMU, I earned BS in Electrical Engineering and Mathematics from Seoul National University.<br><br>

        My research interests are broadly in optimization of neural networks and its connection to Bayesian learning.
      </p>
    </article>
</section>
