<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
      <p>I am an incoming PhD student in computer science at Carnegie Mellon University. Previously, I completed my MS in computer science from CMU under the guidance of Prof. Jaime Carbonell. Prior to CMU, I earned BS in Electrical Engineering and Mathematics from Seoul National University.<br>

      My research interests are broadly in machine learning and statistics, including neural networks, information theory, robust statistics, and statistical physics.</p>
    </article>
</section>
