<section class="thirteen columns">
    <h1>Updates</h1>

    <ul>
        <li>03/04/2018–I evaluated a new method for functional connectivity called DGM (Dynamic Graphical Models).
            This work has now been published in NeuroImage. The work also includes the R package "DGM".
        </li>

        <li>05/02/2018–I presented my work on a new connectivity method at UCL (Prof. Karl Friston) and at the FMRIB
            at Oxford University (Prof. Stephen Smith).
        </li>

        <li>23/06/2017–My new
            <a href="https://drive.google.com/open?id=0B_Iex2d05ajARVA5aWx1Z0dfSFU">Poster</a>
            I'm going to present at the OHBM Conference in Vancouver.
        </li>

        <li>13/05/2017–I will move to the <a href="https://www.bdi.ox.ac.uk">
            Big Data Institute</a> at Oxford University.
        </li>

        <li>02/03/2017–Together with my colleagues, we organized the
            <a href="https://brainhackwarwick.github.io/2017/">
            Brainhack Warwick 2017</a>.
        </li>
    </ul>

</section>
