<!-- Portfolio Grid Section -->
    <style>
    .clearfix {
        overflow: auto;
    }

    .img1 {
        float: left;
        margin-right: 30px;
        height: 180px;
        width: 180px;
    }

    .pubbox {
        width: 90%;
        margin: 30px;
        border: 1px black;
        padding-top: 12px;
        padding-bottom: 15px;
        padding-left: 35px;
        background-color: rgb(85, 85, 85);
    }

    .pubbox .title {
        font-size: 24px;
        font-weight: 400;
        color: #fff;
        line-height: 48px;
    }

    .pubbox .content {
        font-size: 18px;
        font-weight: 100;
        line-height: 36px;
        color: #fff;
    }

    a.pub {
        text-decoration: none;
    }

    </style>
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <!--Stack Here!-->
                <!--publication 1-->
                <a class="pub" href="https://arxiv.org/abs/1712.00166">
                    <div class="pubbox">
                        <div class="title">Audio Cover Song Identification using Convolutional Neural Network</div>
                        <div class="content">Sungkyun Chang, Juheon Lee, Sangkeun Choe, and Kyogu Lee</div>
                        <div class="content">In 2017 NIPS Machine Learning for Audio Signal Processing Workshop (Oral)</div>
                    </div>
                </a>
            </div>
        </div>
    </section>
