<section class="thirteen columns">
	<h1>In the news</h1>
    <ul class="circle">
    	<li><a href="https://www.washingtonpost.com/news/to-your-health/wp/2016/04/07/how-old-fashioned-pen-to-paper-letters-could-help-pull-people-back-from-the-brink-of-suicide/">
			Article in The Washinton Post</a></li>
	<li><a href="http://www.huffingtonpost.com/entry/suicide-risk-assip-program-letters_us_570ba887e4b0836057a19c8e">
			Article in The Huffington Post</a></li>
	<li><a href="https://www.goodtherapy.org/blog/new-study-examines-eye-and-head-movement-in-schizophrenia-1010131">
			Article on GoodTherapy.org</a></li>    
    </ul>
</section>
