<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <p>
        <a href="http://www.scopus.com/authid/detail.url?authorId=55762368200">Scopus</a> /
        <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=Schwab+Simon%5BAuthor%5D">PubMed</a> /
        <a href="https://scholar.google.ch/citations?user=uR1_O0UAAAAJ">Google Scholar</a>
        </p>
    </article>

    <h4>Preprints</h4>
    <article>
		<p><em>Schwab S</em>, Afyouni S, Chen Y, Han Z, Guo Q, Dierks T, … Grieder, M. (2018). Functional connectivity alterations
		of the temporal lobe and hippocampus in semantic dementia and Alzheimer’s disease. 
		<span style="text-decoration: underline;">bioRxiv</span>:322131.
		<a href="https://doi.org/10.1101/322131">doi:10.1101/322131</a>.</p>
    </article>
    <article>
         <p>Gysin-Maillart A, Soravia LM, Michel K, &amp; <em>Schwab S</em> (2017). Brief Therapy ASSIP Influences
            Coping Among Patients with a History of Attempted Suicide.
            <span style="text-decoration: underline;">PsyArXiv</span>:49fmk.
            <a href="https://dx.doi.org/10.17605/OSF.IO/49FMK">doi:10.17605/OSF.IO/49FMK</a>.</p>
    </article>
    <article>
        <p><em>Schwab S</em>, Federspiel A, Morishima Y, Nakataki M, Strik W, Wiest R, Heinrichs M,
            de Quervain D, &amp; Soravia LM (2017). Glucocorticoids and cortical decoding in the phobic brain.
            <span style="text-decoration: underline;">bioRxiv</span>:099697.
            <a href="https://doi.org/10.1101/099697">doi:10.1101/099697</a>.</p>
    </article>

    <h4>2018</h4>
    <article>
        <p>Mueller SV, Morishima Y, <em>Schwab S</em>, Wiest R, Federspiel A, &amp; Hasler G (2018).
        Neural correlates of impaired reward-effort integration in remitted bulimia nervosa.
        <span style="text-decoration: underline;">Neuropsychopharmacology</span> 43:868–876.
        <a href="http://dx.doi.org/10.1038/npp.2017.277">doi:10.1038/npp.2017.277</a>.</p>
    </article>
    <article>
        <p><em>Schwab S</em>, Harbord R, Zerbi V, Elliott L, Afyouni S, Smith JQ, Woolrich MW,
        Smith SM, &amp; Nichols TE (2018). Directed Functional Connectivity Using Dynamic Graphical Models.
        <span style="text-decoration: underline;">NeuroImage</span> 175:340–353.
        <a href="https://doi.org/10.1016/j.neuroimage.2018.03.074">doi:10.1016/j.neuroimage.2018.03.074</a>.
        <a href="https://doi.org/10.1101/198887"> <img src="static/img/bioRxiv.png" alt="download" width="16"></a>
        </p>
    </article>

    <h4>2017</h4>
    <article>
        <p>Nakataki M, Soravia LM, <em>Schwab S</em>, Horn H, Dierks T, Strik W, Wiest R, Heinrichs M, de Quervain DJ,
        Federspiel A, &amp; Morishima Y (2017). Glucocorticoid administration improves aberrant fear
        processing networks in spider phobia.
        <span style="text-decoration: underline;">Neuropsychopharmacology</span> 42(2):485–494.
        <a href="http://dx.doi.org/10.1038/npp.2016.207">doi:10.1038/npp.2016.207</a>.</p>
    </article>

    <h4>2016</h4>
    <article>
        <p>Gysin-Maillart A, <em>Schwab S</em>, Soravia LM, Megert M, &amp; Michel K (2016). A novel brief
        therapy for patients who attempt suicide: a 24-months follow-up randomized controlled
        study of the Attempted Suicide Short Intervention Program (ASSIP).
        <span style="text-decoration: underline;">PLoS Medicine</span> 13(3):e1001968.
        <a href="http://dx.doi.org/10.1371/journal.pmed.1001968">doi:10.1371/journal.pmed.1001968</a>.</p>
    </article>
    <article>
        <p>Soravia LM, Orosz A, <em>Schwab S</em>, Nakataki M, Wiest R, &amp; Federspiel A (2016).
        CBT reduces CBF: cognitive-behavioral therapy reduces cerebral blood flow in fear
        relevant brain regions in spider phobia.
        <span style="text-decoration: underline;">Brain and Behavior</span> 6(9):e00510.
        <a href="http://dx.doi.org/10.1002/brb3.510">doi:10.1002/brb3.510</a>.</p>
    </article>
    <article>
        <p>Soravia LM, Witmer JS, <em>Schwab S</em>, Nakataki M, Dierks T, Wiest R, Henke K, Federspiel
        A, &amp; Jann K (2016). Prestimulus default mode activity influences depth of processing and recognition
        in an emotional memory task. <span style="text-decoration: underline;">Human Brain Mapping</span> 37(3):924–932.
        <a href="http://dx.doi.org/10.1002/hbm.23076">doi:10.1002/hbm.23076</a>.</p>
    </article>

    <h4>2015</h4>
    <article>
        <p>Jann K, Gee DG, Kilroy E, <em>Schwab S</em>, Smith RX, Cannon TD, &amp; Wang DJJ (2015).
        Functional connectivity in BOLD and CBF data: similarity and reliability of resting brain
        networks. <span style="text-decoration: underline;">NeuroImage</span> 106:111–122.
        <a href="http://dx.doi.org/10.1016/j.neuroimage.2014.11.028">doi:10.1016/j.neuroimage.2014.11.028</a>.</p>
    </article>
    <article>
        <p><em>Schwab S</em>, Jost M, &amp; Altorfer A (2015). Impaired top-down modulation of saccadic
        latencies in patients with schizophrenia but not in first-degree relatives.
        <span style="text-decoration: underline;">Frontiers in Behavioral Neuroscience</span> 9:44.
        <a href="http://dx.doi.org/10.3389/fnbeh.2015.00044">doi:10.3389/fnbeh.2015.00044</a>.
        <a href="https://drive.google.com/open?id=0B_Iex2d05ajAY1lsb29zWC1pZkU">
            <img src="static/img/adobe.png" alt="download" width="16"></a></p>
    </article>
    <article>
        <p><em>Schwab S</em>, Koenig T, Morishima Y, Dierks T, Federspiel A, &amp; Jann K (2015). Discovering
        frequency sensitive thalamic nuclei from EEG microstate informed resting state fMRI.
        <span style="text-decoration: underline;">NeuroImage</span> 118:368–375.
        <a href="http://dx.doi.org/10.1016/j.neuroimage.2015.06.001">doi:10.1016/j.neuroimage.2015.06.001</a>.
        <a href="https://drive.google.com/open?id=0B_Iex2d05ajAdmx4VjZ4SFpFdmM">
            <img src="static/img/adobe.png" alt="download" width="16"></a></p>
    </article>

    <h4>2014</h4>
    <article>
        <p>Duss SB, Reber TP, H&auml;nggi J, <em>Schwab S</em>, Wiest R, M&uuml;ri, RM, Brugger P, Gutbrod K,
        &amp; Henke K (2014). Unconscious relational encoding depends on hippocampus.
        <span style="text-decoration: underline;">Brain</span> 137(12):3355–3370.
        <a href="http://dx.doi.org/10.1093/brain/awu270">doi:10.1093/brain/awu270</a>.</p>
    </article>

    <h4>2013</h4>
    <article>
        <p>Giezendanner S, Walther S, Razavi N, Van Swam C, Fisler MS, Soravia LM, Andreotti
        J, <em>Schwab S</em>, Jann K, Wiest R, Horn H, M&uuml;ller TJ, Dierks T, &amp; Federspiel A (2013).
        Alterations of white matter integrity related to the season of birth in schizophrenia: a DTI
        study. <span style="text-decoration: underline;">PLoS One</span> 8(9):e75508.
        <a href="http://dx.doi.org/10.1371/journal.pone.0075508">doi:10.1371/journal.pone.0075508</a>.</p>
    </article>
    <article>
        <p>Mikutta CA, <em>Schwab S</em>, Niederhauser S, Wuermle O, Strik W, &amp; Altorfer A (2013). Music,
        perceived arousal, and intensity: psychophysiological reactions to Chopin’s “Tristesse”.
        <span style="text-decoration: underline;">Psychophysiology</span> 50(9):909–919.
        <a href="http://dx.doi.org/10.1111/psyp.12071">doi:10.1111/psyp.12071</a>.</p>
    </article>
    <article>
        <p><em>Schwab S</em>, W&uuml;rmle O, Razavi N, M&uuml;ri RM, &amp; Altorfer A (2013). Eye-head coordination
        abnormalities in schizophrenia. <span style="text-decoration: underline;">PLoS One</span> 8(9):e74845.
        <a href="http://dx.doi.org/10.1371/journal.pone.0074845">doi:10.1371/journal.pone.0074845</a>.
        <a href="https://drive.google.com/open?id=0B_Iex2d05ajAUmhLekQzRlFqTms">
            <img src="static/img/adobe.png" alt="download" width="16"></a></p>
    </article>

    <h4>2012</h4>
    <article>
        <p><em>Schwab S</em>, W&uuml;rmle O, &amp; Altorfer A (2012). Analysis of eye and head coordination in a
        visual peripheral recognition task. <span style="text-decoration: underline;">
        Journal of Eye Movement Research</span> 5(2):1–9.
        <a href="http://dx.doi.org/10.16910/jemr.5.2.3">doi:10.16910/jemr.5.2.3</a>.
        <a href="https://drive.google.com/open?id=0B_Iex2d05ajATjV6RTJTV1Y0UFk">
            <img src="static/img/adobe.png" alt="download" width="16"></a></p>
    </article>
</section>
