<section class="thirteen columns">
    <h1>Publications</h1>
<!--
    <article>
        <p>
        <a href="http://www.scopus.com/authid/detail.url?authorId=55762368200">Scopus</a> /
        <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=Schwab+Simon%5BAuthor%5D">PubMed</a> /
        <a href="https://scholar.google.ch/citations?user=uR1_O0UAAAAJ">Google Scholar</a>
        </p>
    </article>
-->

    <!--<h4>Preprints</h4>-->
    <article>
        <header><h2><a href="https://sangkeun00.github.io">On Orthogonal Jacobian Regularization in Deep Neural Networks</a></h2></header>
        <p><em>Sangkeun Choe</em>, Hosan Jeong, and Jaime Carbonell<br>
        In Workshop on Science meets Engineering of Deep Learning at NeurIPS, 2019</p>
    </article>

    <article>
        <header><h2><a href="https://arxiv.org/pdf/1910.02754.pdf">On Leveraging the Visual Modality for Neural Machine Translation</a></h2></header>
        <p><em>Sangkeun Choe</em>, Quanyang Lu, Vikas Raunak, Yi Xu, and Florian Metze<br>
        In INLG, 2019 (Short version: In Workshop on New Tasks for Vision and Language at ICML, 2019)</p>
    </article>

    <article>
		<header><h2><a href="https://srvk.github.io/how2-challenge/assets/authors/TH2_paper_7.pdf">On Leveraging Visual Modality for ASR Error Correction</a></h2></header>
        <span><em>Sangkeun Choe</em>, Quanyang Lu, Vikas Raunak, Yi Xu, and Florian Metze<br>
		In Workshop on New Tasks for Vision and Language at ICML, 2019</span>
    </article>

    <article>
        <header><h2><a href="https://arxiv.org/abs/1712.00166">Audio Cover Song Identification using Convolutional Neural Network</a></h2></header>
        <p>Sungkyung Chang, Juheon Lee, <em>Sangkeun Choe</em>, and Kyogu Lee<br>
        In ICASSP, 2018 (Short version: In Workshop on ML4Audio at NIPS, 2017)</p>
    </article>

</section>
