<section class="thirteen columns">
    <h1>Publications</h1>
<!--
    <article>
        <p>
        <a href="http://www.scopus.com/authid/detail.url?authorId=55762368200">Scopus</a> /
        <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=Schwab+Simon%5BAuthor%5D">PubMed</a> /
        <a href="https://scholar.google.ch/citations?user=uR1_O0UAAAAJ">Google Scholar</a>
        </p>
    </article>
-->

    <!--<h4>Preprints</h4>-->
    <article>
		<p><em>Schwab S</em>, Afyouni S, Chen Y, Han Z, Guo Q, Dierks T, … Grieder, M. (2018). Functional connectivity alterations
		of the temporal lobe and hippocampus in semantic dementia and Alzheimer’s disease.
		<span style="text-decoration: underline;">bioRxiv</span>:322131.
		<a href="https://doi.org/10.1101/322131">doi:10.1101/322131</a>.</p>
    </article>
    <article>
         <p>Gysin-Maillart A, Soravia LM, Michel K, &amp; <em>Schwab S</em> (2017). Brief Therapy ASSIP Influences
            Coping Among Patients with a History of Attempted Suicide.
            <span style="text-decoration: underline;">PsyArXiv</span>:49fmk.
            <a href="https://dx.doi.org/10.17605/OSF.IO/49FMK">doi:10.17605/OSF.IO/49FMK</a>.</p>
    </article>
    <article>
        <p><em>Schwab S</em>, Federspiel A, Morishima Y, Nakataki M, Strik W, Wiest R, Heinrichs M,
            de Quervain D, &amp; Soravia LM (2017). Glucocorticoids and cortical decoding in the phobic brain.
            <span style="text-decoration: underline;">bioRxiv</span>:099697.
            <a href="https://doi.org/10.1101/099697">doi:10.1101/099697</a>.</p>
    </article>

</section>
