<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.name }}'s Résumé">
    <meta name="author" content="{{ site.name }} @{{ site.twitter }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}static/css/base.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/layout.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- For twitter and github icons <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--<link rel="shortcut icon" href="{{ site.baseurl }}static/img/favicon.ico">-->
    <!-- <link rel="apple-touch-icon" href="static/img/me-icon-57.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="static/img/me-icon-72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="static/img/me-icon-114.png"> -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body>
<div class="container">
    <header class="three columns">
        <img src="{{ site.baseurl }}static/img/profile.jpg" class="me" alt="profile picture">
        <!--<h1>&nbsp{{ site.name }}</h1>-->

        <p>
            <!-- {{ site.tel }}<br> -->
            <i class="fa fa-envelope-o"></i><a href="{{ site.email_full }}"> sangkeuc@cs.cmu.edu</a><br>
            <i class="fa fa-file-text-o" style="font-size: 17px"></i><a href="../static/files/CV.pdf" download> Resume</a><br>
            <!--<i class="fa fa-globe" style="font-size: 17px"></i><a href="{{ site.website_full }}"> sangkeun00.github.io</a><br>-->
            <i class="fa fa-map-o" style="font-size: 12.5px"></i><a href="{{ site.affiliation }}"> Pittsburgh, PA, USA</a><br><br>
            <a href="https://github.com/{{ site.github }}"><i class="github"></i> <i class="fa fa-github" style="font-size: 24px"></i></a> &nbsp
            <a href="https://linkedin.com/in/{{ site.linkedin }}"><i class="linkedin"></i> <i class="fa fa-linkedin-square" style="font-size: 24px"></i></a>

            <!--
            <a href="https://docs.google.com/document/d/17QHny7TjNk43L_mdeArc_aGxoM5gthHZLnUjd3txDq0/export?format=pdf">Publication List</a>-->
        </p>

        <!--<address>-->
            <!--<a href="{{ site.affiliation }}">-->
                <!--{{ site.institution }}<br>-->
                <!--{{ site.department }}<br>-->
                <!--{{ site.address }}<br>-->
                <!--{{ site.city }}, {{ site.state }}<br>-->
                <!--{{ site.country }}-->
            <!--</a>-->
        <!--</address>-->



        <!--
        <p>My research is supported by:</p>
        <p>
            <a href="http://www.snf.ch/en/">
                <img src="{{ site.baseurl }}static/img/SNF.png" width="140" alt="SNSF">
            </a>
        </p>

        <p>My host institutions:</p>
        <p>
            <a href="http://www.ox.ac.uk/">
                <img src="{{ site.baseurl }}static/img/oxford.png" width="80" alt="Oxford">
            </a>
        </p>

        <p>
            <a href="http://www.warwick.ac.uk/">
                <img src="{{ site.baseurl }}static/img/warwick.png" width="120" alt="Warwick">
            </a>
        </p>
        -->
    </header>
    <div class="thirteen columns clearfix">

        {{ content }}

    <footer class="thirteen columns">
        <!-- <p>Insert footer here</p> -->
    </footer>
    </div>
</div>

</body>
</html>
